:root {
  --main-tan: #ebe4ce;
  --main-grey: #f2f2f2;
  --grey-on-blend: #505050;
  --grey-on-black: #808080;
  --main-blue: #63bbf2;
  --blend-blue: #5af9e1;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: black;
}
header {
  text-align: center;
  color: var(--main-grey);
  position: absolute;
  margin: auto;
  width: 100%;
  background-color: var(--grey-on-blend);
}
nav {
  padding: 10px 20px 0 5px;
  z-index: 1;
  position: absolute;
  margin-top: 18px;
}
#wic-button {
  width: 140px;
}
#wic-button:hover {
  width: 95%;
}
a {	
  text-decoration: none;
}
.button {
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: var(--main-grey);
  padding: 10px;
  margin: 5px;
  height: 18px;
  width: 100px;
  border: solid var(--main-blue) 3px;
  border-radius: 5px;

  background: var(--main-blue);
  background: linear-gradient(90deg, var(--main-blue) 0%, var(--blend-blue) 100%) no-repeat left center var(--main-grey);
  background-size: 0px;
  font-size: inherit;
  transition: all 200ms ease-in-out;
}
.button:hover {
  font-size: 0;
  background-size: 100%;
  width: 100%;
  z-index: 2;
}
.button:after {
  content: '';
  opacity: 0;
  font-size: 0px;
  transition: all 100ms 100ms;
  font-weight: lighter;
  overflow: clear;
}
.button:hover:after {
  content: attr(data-hover);
  opacity: 1;
  font-size: 16px;
  color: var(--grey-on-blend);
  transition: all 100ms 100ms;
}

.button a {
  text-decoration: none;
}

#home-icon {
  position: inline;
  padding: 20px 20px 0px 30px;
  width: 5em;
  top: -5px;
}
main {
  z-index: 0;
  position: absolute;
  left: 10rem;
  max-width: 50rem;
  color: var(--main-grey);
  font-family: Helvetica Bold, Arial, sans-serif;
  padding: 70px 30px 50px 10px;
}

footer {
  margin: auto;
  text-align: center;
  color: var(--grey-on-black);
  position: absolute;
  padding: 20px;
  bottom: 0%;
  width: 90%;
}
